<!-- fxLayout: a befogadó elem gyerekelemei hogyan helyezkedjenek el.
itt egymás alatt lesznek a "column" miatt! -->
<div class="main" fxLayout="column" fxFlexFill>
  <!-- mat-elevation-z6: mekkora árníyéka legyen az elemnek. Itt z irányban 6-os érték -->
  <mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">
    <mat-toolbar-row>
      <!-- fxShow: true esetén mindig látszik az elem (itt:gomb)
      fxHide.gt-sm: sm méretben eltűnik az adott elem gt=greater then...-->
      <button mat-icon-button fxShow="true" fxHide.gt-sm (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Material Design</span>
      <span class="example-spacer"></span>
      <!-- fxHide.lt-md: md méretnél kisebbnél jelenik meg
      lt=lower than... -->
      <div fxShow="true" fxHide.lt-md="true">
        <a 
          *ngFor="let item of menuItems"
          [routerLink]="item.url"
          routerLinkActive=" active"
          [routerLinkActiveOptions]="{exact: item.url === '/'}"
          mat-button>
             <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
             {{ item.text }}
          </a>
          <!-- [routerLinkActiveOptions]="{exact: item.url === '/'}" azt jelenti,
          hogy a főoldal gombja csak akkor legyen aktív, ha az url pontosan arra mutat -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- oldalsáv implementálása -->
  <!-- fxLayout="row" szerint az elemek soronként helyezkednek el,
        fxFlex="100" azt jelenti, hogy az oldal 100%-t kitölti. -->
  <mat-sidenav-container class="sidenav-container" fxLayout="row" fxFlex="100">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a 
        *ngFor="let item of menuItems"
        [routerLink]="item.url"
        routerLinkActive=" active"
        [routerLinkActiveOptions]="{exact: item.url === '/'}"
        mat-list-item>
           <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
           {{ item.text }}
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>keyboard_arrow_left</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- az oldal tartalma itt jön -->
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>